#container
  .row
    .item
      .item-inner.left.speed-3
    .item
      .item-inner.top.speed-2.spin
    .item
      .item-inner.right
    .item
      .item-inner.left.speed-5
    .item
      .item-inner.zoom.speed-2
    .item
      .item-inner.right.speed-5
    .item
      .item-inner.left
    .item
      .item-inner.bottom
    .item
      .item-inner.right.spin