html, body{
  height:3000px;
  margin:0;
}
#container{
  background:#E1F5FE;
  height:100%;
  .row{
    position:fixed;
    top:35%;
    left:0;
    right:0;
    margin: 0 auto;
    width:340px;
    height:340px;
    .item{
      display:inline-block;
      margin:0;
      position:relative;
      width:100px;
      height:100px;
      .item-inner{
        position:absolute;
        background:#81D4FA;
        width:100px;
        height:100px;
      }
    }
  }
}  

